{% extends "authentication/base_auth.html" %}
{% block content %}
<div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title py-3">
                    <h4 class="text-center">
                        Your account has been created successfully
                    </h4>
                    <p>Login in to the email provided to activate your account</p>
                </div>
                <div>
                    <a href=""><input type="submit" value="Activate Your Account"
                            class="btn btn-block btn-primary submit-btn">
                    </a>

                </div>
            </div>

        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}