{% extends "authentication/base_auth.html" %}
{% block content %}
    <div class="splash-container">
        <div class="card">
            <div class="card-header text-center">
                <span class="splash-description"> Pepea Health</span>
            </div>
            <div class="card-body">
                <form>
                    <p>You have been logged out of your account</p>
    
                    <div class="form-group pt-1"><a class="btn btn-block btn-primary btn-xl"
                            href="{% url 'authentication:login' %}">Login</a></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
